
<% include ./HeaderFooter/header.ejs %>

<style>
.introduction{
    font-size:30px;
}
</style>

    <section>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col" align="center" style="padding-top:30px">
                        <span style="font-weight:600;font-size:20px">회원 가입</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col" align="center" >
                        <div style="width:470px;margin-top:40px;margin-top:30px;margin-bottom:30px">
                            <form method="POST" action="/member" id="registmemberform">
                                <div class="row"  style="border-top:1px solid #646464;padding-top:5px;" >
                                    <div class="col-sm-4" style="background:#99CC99">
                                        <p style="padding-top:4px">아이디</p>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="id" id="id" class="form-control" placeholder="커서를 이동하면 중복검사를 실행함." onblur="javascript:authId()">
                                    </div>
                                </div>

                                <div class="row" style="border-top:1px solid #646464;padding-top:5px">
                                    <div class="col-sm-4" style="background:#99CC99">
                                        <p style="padding-top:4px">비밀번호</p>
                                    </div>
                                    <div class="col">
                                        <input type="password" name="pw" id="pw" class="form-control">
                                    </div>
                                </div>

                                <div class="row" style="border-top:1px solid #646464;padding-top:5px">
                                    <div class="col-sm-4" style="background:#99CC99">
                                        <p style="padding-top:4px">비밀번호 확인</p>
                                    </div>
                                    <div class="col">
                                        <input type="password" id="authpw" class="form-control">
                                    </div>
                                </div>

                                <div class="row" style="border-top:1px solid #646464;padding-top:5px">
                                    <div class="col-sm-4" style="background:#99CC99">
                                        <p style="padding-top:4px">이름</p>
                                    </div>
                                    <div class="col">
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col" style="padding-left:0px">
                                        <br>
                                        <button type="button" onclick="javascript:submitForm()"  class="btn btn-dark" style="width:500px" >회원가입</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <article>
    </section>

<script type="text/javascript">

function submitForm(){
    var id=$("#id").val()
    var pw=$("#pw").val();
    var authpw=$("#authpw").val();
    var name=$("#name").val();
    
    if(id===""){
        alert("아이디를 입력해주세요")
    }else if(pw===""){
        alert("비밀번호를 입력해주세요")
    }else if(authpw===""){
        alert("비밀번호 확인을 입력해주세요")
    }else if(name===""){
        alert("이름을 입력해주세요")
    }else if(pw!==authpw){
        alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.")
    }else{
        $("#registmemberform").submit();
    }
}

function authId(){
    var id=$("#id").val();
    if(id===""){

    }else{
        $.ajax({
            url:'/authid'+'?id='+id,
            success:function(data){
                if(data.trim()==="fail"){
                    alert("중복된 ID가 있습니다.");
                    $("#id").val('');
                }else if(data.trim()==='success'){
                    
                }
            }
        })
    }
}

</script>
<% include ./HeaderFooter/footer.ejs %>