    <footer>
        <hr/>
        <div class="container" id="footer">
            <div class="row">
                <div class="offset-lg-2 col-lg-4" id="footerlogspace" align="center">
                    <span id="footer-log">&nbsp;&nbsp;battle&nbsp;&nbsp;&nbsp;Rentacar&nbsp;&nbsp;</span>
                </div>
                <div class="col-lg-4" align="center">
                    <p id="footer-copyligth">
                        Copyright 2018. Maru Developer. All rights reserved.
                        <br>- This site is Sang Min Lee's Portfolio page.
                        <br>- This site has no commercial purpose.
                        <br> Business E-mail : c.moon9@outlook.com
                        <br> Blog : <a href="http://www.maruware.co.kr/">www.maruware.co.kr</a>(SM-카테고리 참조)
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>